package-lock.json
.env
node_modules
storage-node-1-data
storage-node-2-data
storage-node-3-data
storage-node-4-data
storage-node-5-data
storage-node-6-data
storage-node-7-data
storage-node-8-data
storage-node-9-data
storage-node-10-data
